{% extends 'base.html' %} 
{% block title %} List To-Do {% endblock %} 
{% block container %} 
{% block page_title %}
<h1>Welcome to list</h1>
{% endblock %}
<a href="/add" class="btn btn-primary">Add Todo</a>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Created Date</th>
      <th>Updated Date</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in object_list %}
    <tr>
      <td>{{ todo.title }}</td>
      <td>{{ todo.desc }}</td>
      
    
      <td>

                    
                    {% comment %} {% if todo.priority == 1 %}
                    <b class="text-danger">{{todo.get_priority_display}}</b> 
                    {% elif  todo.priority == 2 %}
                    <b class="text-warning">{{todo.get_priority_display}}</b>  
                    {% else %}
                    <b class="text-info">{{todo.get_priority_display}}</b> 
                    {% endif %} {% endcomment %}
                     <b class="{% if todo.priority == 1 %}text-danger{% elif todo.priority == 2 %}text-warning{% else %}text-info{% endif %}">
                     {{ todo.get_priority_display }}
                    </b> 
                   
                     
                </td>
      
       
      <td > <b class="{% if todo.status == 'C' %}text-danger{% elif todo.status == 'P' %}text-warning{% else %}text-info{% endif %}">
                     
                    {{ todo.get_status_display }}</b></td>
      <td>{{ todo.created_date }}</td>
      <td>{{ todo.updated_date }}</td>
      <td><a href="update/{{todo.id}}">Update</a> <a href="delete/{{todo.id}}" >Delete </a><a href="detail/{{todo.id}}" >Detail</a> </td>
      {% comment %} onclick="return confirm('are you sure ?')" {% endcomment %}
      
        
      <
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No todos found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock container %} 

